<!DOCTYPE html>
    <html lang="en">
 {% load static %}
      
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Azadilla</title>
        <link rel="stylesheet" href="{% static 'tierra/css/estilo_productos.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <link rel="shortcut icon" href="{% static 'tierra/imagenes/logo_sin_fonfo.png' %}"  type="image/x-icon">
    </head>
    <body>
        <!-- Navbar -->
     <!-- Navbar -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
         <a href="{% url 'inicio'%}" class="navbar-brand">
            <span>Tierra</span>yFlor
         </a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarS"
            aria-controls="navbarS" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse " id="navbarS">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
               <li class="nav-item">
                  <a href="{% url 'inicio'%}" class="nav-link">Inicio</a>
               </li>
               <li class="nav-item">
                  <a href="{% url 'tienda'%}" class="nav-link">Tienda</a>
               </li>
               <li class="nav-item">
                  <a href="{% url 'nosotros'%}" class="nav-link">Nosotros</a>
               </li>
               <li class="nav-item">
                  <a href="{% url 'contacto'%}" class="nav-link">Contacto</a>
               </li>
               <li class="nav-item">
                  <a href="{% url 'login'%}" class="nav-link">Login</a>
               </li>
               <li class="nav-item">
                  <a href="{% url 'resgistro'%}" class="nav-link">Registro</a>
               </li>
               <li class="nav-item">
                  <a href="{% url 'carrito'%}" class="nav-link">Mi Carrito</a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
          <!-- Producto -->
   <section class="product section-padding">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <img src="{% static 'tierra/imagenes/azadilla.png' %}" alt="" class="img-fluid">
          
</div>

          <div class="col-md-6">
            <div class="producto">
             <h2>Azadilla</h2>
             <p>Una escardilla o azadilla es una herramienta pequeña con una hoja plana y ancha en un extremo y un mango corto en el otro. Se utiliza para eliminar malezas y escardar en áreas pequeñas del jardín, como entre las plantas o en macetas.</p>
             <p>Color: Verde</p>
             <p>Tamaño: 1 mtr 50 cm </p>
             <p>Precio: $5.000</p>
             <button class="btn btn-primary">Comprar</button>
             <button class="btn btn-primary">Agregar al carrito</button>
            </div>
          </div>
</div>
    </div>
 </section>
       <section class="about section-padding">
    </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"></script>
    </body>
    
    </html>