<!DOCTYPE html>
<html lang="es">
<head>
  {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
  
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
      <link rel="stylesheet" href="css/estilo_registro.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
      <link rel="shortcut icon" href="img/logo_sin_fonfo.png" type="image/x-icon">
  
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
  
      <script>
    var nombreExpr = /^[A-Z][a-zA-Z\s]*$/;
    var apellidoExpr = /^[A-Z][a-zA-Z\s]*$/;
    var correoExpr = /^[a-zA-Z0-9_\.\-]+@[a-zA-Z0-9\-]+\.[a-zA-z0-9\-\.]+$/;
    var contrasenaExpr = /^(?=.*[A-Z])(?=.*\d).{6,}$/;
  
      $(document).ready(function(){
      $("#Enviar").click(function(){
        var nombre = $("#Nombre").val();
        var apellido = $("#Apellido").val();
        var correo = $("#Email").val();
        var contrasena = $("#Contrasena").val();
        var confirmarContrasena = $("#confirmarContrasena").val();
  
        // Validación de nombre
        if (nombre == "" || !nombreExpr.test(nombre)) {
          $("#adv1").removeClass("d-none");
          return false;
        } else {
          $("#adv1").addClass("d-none");
        }
  
        // Validación de apellido
        if (apellido == "" || !apellidoExpr.test(apellido)) {
          $("#adv3").removeClass("d-none");
          return false;
        } else {
          $("#adv3").addClass("d-none");
        }
  
        // Validación de correo
        if (correo == "" || !correoExpr.test(correo)) {
          $("#adv2").removeClass("d-none");
          return false;
        } else {
          $("#adv2").addClass("d-none");
        }
  
        // Validación de contraseña
        if (contrasena == "" || !contrasenaExpr.test(contrasena)) {
          $("#adv4").removeClass("d-none");
          return false;
        } else {
          $("#adv4").addClass("d-none");
        }
  
        // Validación de confirmar contraseña
        if (contrasena !== confirmarContrasena) {
          $("#adv5").removeClass("d-none");
          return false;
        } else {
          $("#adv5").addClass("d-none");
        }
  
        // Si todas las validaciones son exitosas, puedes continuar con el envío del formulario
        console.log("Formulario enviado");
        // Agrega aquí el código para enviar el formulario
       });
     });
     a  </script>
</head>
<body>
     <!-- Navbar -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
           <a href="inicio.html" class="navbar-brand">
              <span>Tierra</span>yFlor
           </a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarS"
              aria-controls="navbarS" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse " id="navbarS">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                 <li class="nav-item">
                    <a href="inicio.html" class="nav-link">Inicio</a>
                 </li>
                 <li class="nav-item">
                    <a href="tienda.html" class="nav-link">Tienda</a>
                 </li>
                 <li class="nav-item">
                    <a href="nosotros.html" class="nav-link">Nosotros</a>
                 </li>
                 <li class="nav-item">
                    <a href="contacto.html" class="nav-link">Contacto</a>
                 </li>
                 <li class="nav-item">
                    <a href="login.html" class="nav-link">Login</a>
                 </li>
                 <li class="nav-item">
                    <a href="registro.html" class="nav-link">Registro</a>
                 </li>
              </ul>
           </div>
        </div>
     </nav>




     <section class="d-flex justify-content-center align-items-center">
        <div class="card shadow p-4">
          <div class="card-body">
            <h1 class="card-title text-center">Contacto</h1>
            <form id="registroForm">
               
              <div id="container">
                <form id="Formulario">
                  <div class="mb-3">
                    <label for="Nombre" class="form-label">Ingrese su nombre:</label>
                    <input type="text" id="Nombre" class="form-control" />
                    <div id="adv1" class="errores text-danger d-none">Por favor ingrese su nombre con la primera letra mayúscula</div>
                  </div>
      
                  <div class="mb-3">
                    <label for="Apellido" class="form-label">Ingrese su apellido:</label>
                    <input type="text" id="Apellido" class="form-control" />
                    <div id="adv3" class="errores text-danger d-none">Por favor ingrese su apellido con la primera letra mayúscula</div>
                  </div>
      
                  <div class="mb-3">
                    <label for="Email" class="form-label">Ingrese su correo:</label>
                    <input type="text" id="Email" class="form-control" />
                    <div id="adv2" class="errores text-danger d-none">Por favor ingrese un correo válido</div>
                  </div>
      
                  <div class="mb-3">
                    <label for="Contrasena" class="form-label">Ingrese una contraseña:</label>
                    <input type="password" id="Contrasena" class="form-control" />
                    <div id="adv4" class="errores text-danger d-none">Por favor ingrese una contraseña con 8 caracteres minimo una letra mayúscula y un número</div>
                  </div>
      
                  <div class="mb-3">
                    <label for="confirmarContrasena" class="form-label">Repita la contraseña:</label>
                    <input type="password" id="confirmarContrasena" class="form-control" />
                    <div id="adv5" class="errores text-danger d-none">Las contraseñas no coinciden</div>
                  </div>
      
                  <div class="text-center">
                    <input type="submit" id="Enviar" value="Enviar información" class="btn btn-primary" />
                  </div>
                </form>
              </div>
            </form>
          </div>
        </div>
      </section>
</body>
</html>