<!DOCTYPE html>
<html lang="en">
  {% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maceteros</title>
    <link rel="stylesheet" href="{% static 'tierra/css/estilo_catalogo_productos.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'tierra/imagenes/logo_sin_fonfo.png' %}" type="image/x-icon">

</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
       <a href="{% url 'inicio'%}" class="navbar-brand">
          <span>Tierra</span>yFlor
       </a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarS"
          aria-controls="navbarS" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse " id="navbarS">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
             <li class="nav-item">
                <a href="{% url 'inicio'%}" class="nav-link">Inicio</a>
             </li>
             <li class="nav-item">
                <a href="{% url 'tienda'%}" class="nav-link">Tienda</a>
             </li>
             <li class="nav-item">
                <a href="{% url 'nosotros'%}" class="nav-link">Nosotros</a>
             </li>
             <li class="nav-item">
                <a href="{% url 'contacto'%}" class="nav-link">Contacto</a>
             </li>
             <li class="nav-item">
                <a href="{% url 'login'%}" class="nav-link">Login</a>
             </li>
             <li class="nav-item">
                <a href="{% url 'resgistro'%}" class="nav-link">Registro</a>
             </li>
             <li class="nav-item">
                <a href="{% url 'carrito'%}" class="nav-link">Mi Carrito</a>
             </li>
          </ul>
       </div>
    </div>
 </nav>
 </nav>
      <div class="container mt-5">
        <h1 class="text-center mb-5">Maceteros</h1>
        <div class="row justify-content-center">
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="{% static 'tierra/imagenes/maceteros.png' %}" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Maceteros de mimbre</h5>
                <p class="card-text">pack de 3 maceteros de mimbre de 30 cm, 20 cm y 10 cm para una vista mas natural y rustica.</p>
                <p>El precio del producto es: <span class="price">$5.000</span></p>
                <a href="{% url 'macetero_mimbre'%}" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="{% static 'tierra/imagenes/terracota.png' %}" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Macetero de terracota</h5>
                <p class="card-text"> Este tipo de macetero está hecho de arcilla cocida y es popular por su apariencia natural y rústica.</p>
                <p>El precio del producto es: <span class="price">$20.000</span></p>
                <a href="{% url 'terracota'%}" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="{% static 'tierra/imagenes/plastico.png'%}" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Macetero de plástico</h5>
                <p class="card-text"> pack de 6 maceteros de plásticos económicos, ligeros y duraderos ademas de ser faciles de transportar.</p>
                <p>El precio del producto es: <span class="price">$5.000</span></p>
                <a href="{% url 'plastico'%}" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="{% static 'tierra/imagenes/colgante.png' %}" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Macetero colgante</h5>
                <p class="card-text">Este tipo de macetero se suspende en el aire y suele tener una estructura colgante, como una cesta o un soporte.</p>
                <p>El precio del producto es: <span class="price">$10.000</span></p>
                <a href="{% url 'colgante'%}" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="{% static 'tierra/imagenes/autorriego.png' %}" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Macetero autorriego</h5>
                <p class="card-text"> Estos maceteros están diseñados con un sistema de auto-riego que permite a las plantas absorber la cantidad justa de agua .</p>
                <p>El precio del producto es: <span class="price">$10.000</span></p>
                <a href="{% url 'autorriego'%}" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="{% static 'tierra/imagenes/ceramica.png' %}" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Maceteros de cerámica</h5>
                <p class="card-text">pack 3 maceteros de cerámica negros son populares por su aspecto elegante y sofisticado.</p>
                <p>El precio del producto es: <span class="price">$15.000</span></p>
                <a href="{% url 'ceramica'%}" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
       
   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
</body>

</html>