<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mangueras</title>
    <link rel="stylesheet" href="estilo_catalogo_productos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="shortcut icon" href="img/logo_sin_fonfo.png" type="image/x-icon">

</head>

<body>
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
     <a href="inicio.html" class="navbar-brand">
        <span>Tierra</span>yFlor
     </a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarS"
        aria-controls="navbarS" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse " id="navbarS">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
           <li class="nav-item">
              <a href="inicio.html" class="nav-link">Inicio</a>
           </li>
           <li class="nav-item">
              <a href="tienda.html" class="nav-link">Tienda</a>
           </li>
           <li class="nav-item">
              <a href="nosotros.html" class="nav-link">Nosotros</a>
           </li>
           <li class="nav-item">
              <a href="contacto.html" class="nav-link">Contacto</a>
           </li>
           <li class="nav-item">
              <a href="login.html" class="nav-link">Login</a>
           </li>
           <li class="nav-item">
              <a href="registro.html" class="nav-link">Registro</a>
           </li>
           <li class="nav-item">
              <a href="carrito.html" class="nav-link">Mi Carrito</a>
           </li>
        </ul>
     </div>
  </div>
</nav>
      <div class="container mt-5">
        <h1 class="text-center mb-5">Manguera estandar</h1>
        <div class="row justify-content-center">
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="img/manguera_estandar.png" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Manguera estandar</h5>
                <p class="card-text"> Es el tipo de manguera más utilizada en la jardinería. Por lo general, está hecho de materiales como PVC o caucho.</p>
                <p>El precio del producto es: <span class="price">$10.000</span></p>
                <a href="Manguera_estandar.html" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="img/manguera_expandible.png" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Manguera expandible</h5>
                <p class="card-text"> Este tipo de manguera se expande en longitud cuando se llena de agua y se contrae cuando se vacía.</p>
                <p>El precio del producto es: <span class="price">$10.000</span></p>
                <a href="manguera_expandible.html" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="img/manguera_goteo.png" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Manguera de riego por goteo</h5>
                <p class="card-text">Estas mangueras están diseñadas específicamente para el riego por goteo, que es un método eficiente de riego.</p>
                <p>El precio del producto es: <span class="price">$100.000</span></p>
                <a href="manguera_goteo.html" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="img/manguera_aspersion.png" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Mangueras de riego por aspersión</h5>
                <p class="card-text">Son mangueras con pequeñas boquillas que rocían agua en forma de lluvia sobre las plantas.</p>
                <p>El precio del producto es: <span class="price">$20.000</span></p>
                <a href="manguera_aspersion.html" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="img/manguera_altapresion.png" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Manguera de alta presión</h5>
                <p class="card-text"> Son mangueras resistentes y duraderas diseñadas para soportar altas presiones de agua.</p>
                <p>El precio del producto es: <span class="price">$20.000</span></p>
                <a href="manguera_alta_presion.html" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="img/manguera_subterraneo.png" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Mangueras de riego subterráneo</h5>
                <p class="card-text">Son mangueras enterradas bajo el suelo que permiten el riego de plantas de forma subterránea.</p>
                <p>El precio del producto es: <span class="price">$120.000</span></p>
                <a href="manguera_subterraneo.html" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
       
   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
</body>

</html>