<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario - Tierra y Flor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ver_perfil.css">
    <link rel="shortcut icon" href="{% static 'tierra/imagenes/logo_sin_fonfo.png' %}g" type="image/x-icon">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a  class ="navbar-brand" href="#">Tierra y Flor</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tienda</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 style="text-align:center;">Perfil de Usuario - Tierra y Flor</h1>
                <img class="avatar" src="img/persona-png.avif" alt="Avatar de usuario">
                <div class="user-info">
                    <h3>Nombre del usuario</h3>
                    <p>Email: usuario@example.com</p>
                    <p>País: México</p>
                    <p>Fecha de nacimiento: 01/01/1990</p>
                    <p>Género: Masculino</p>
                    <h3>Intereses en jardinería:</h3>
                    <ul>
                        <li>Plantas de interior</li>
                        <li>Árboles frutales</li>
                        <li>Macetas y jardineras</li>
                        <li>Jardines de bajo mantenimiento</li>
                    </ul>
                    <h3>Descripción:</h3>
                    <p>Soy un amante de la naturaleza y la jardinería. Me encanta experimentar con diferentes tipos de
                        plantas y verlas crecer en mi jardín. Siempre estoy buscando nuevas formas de mejorar mi jardín
                        y hacerlo más hermoso.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>